apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: demo
type: Opaque
stringData:
  access-key-id: REPLACE_WITH_AWS_ACCESS_KEY_ID
  secret-access-key: REPLACE_WITH_AWS_SECRET_ACCESS_KEY
